.classLiDynamic{
    border-left:none;
}

@media (min-width: 576px){
    .modal-dialog.modal-customerInfoRes {
        max-width: 1280px;
        z-index: 10000000;
    }
}



.hide{
    display:none;
}

.cover {
    position : absolute;
    top : 0px; bottom : 0px; left : 0px; right : 0px;
    background-color: black;
    z-index: 1;
    opacity : 1;
}
.nofade {
    position: relative;
    z-index: 2;
}
.iframe_body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.iframe-footer:not([class*=bg-]) {
    padding-top: 0;
    border-top-width: 0;
}
.iframe_footer{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}


.media-list::-webkit-scrollbar {
    display:none;
}

#myModal::-webkit-scrollbar {
    display:none;
}

.first:after {
    content: '';
    border-left: 1px solid #dfdfdf;
    position: absolute;
    margin-left: 7px;
    width: 1px;
    height: 20px;
    top: 0;

}
.second:after {
    content: '';
    border-left: 1px solid #dfdfdf;
    position: absolute;
    margin-left: 11px;
    width: 1px;
    height: 20px;
    top: 0;

}
.third:after {
    content: '';
    border-left: 1px solid #dfdfdf;
    position: absolute;
    margin-left: 13px;
    width: 1px;
    height: 20px;
    top: 0;

}
.vrr-element-seats::before {
    content:none;
}

.vrr-draggable{
    border:none;
}
.timeScroll::-webkit-scrollbar {
    display: none;
}
.timeScroll{
    -webkit-overflow-scrolling: touch;
}

.btn-booking{
    background-color:#fcb334;
    color:white;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom{
    width:405px;;
}
.btn-previous{
    color:white;
    background-color:#b1afac;
}

.btn-back{
    background-color:#293a50;
    color:white;
}

.myTable td, .myTable th {
    padding:0;
}