

.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-dark .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #2096f3;
    color: #fff;
}

.select2-container {
    width: 100% !important;
}

.select2-selection--single {
    height: 35px !important;
}

.bootstrap-datetimepicker-widget,.dropdown-menu,.bottom{
    min-width:420px !important;
    padding-top:5px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444 !important;
    line-height: 35px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 4px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #dddddd 1px !important;
    outline: 0;
}

.select2-selection--multiple {
    background-color: white !important;
    border: 1px solid #ddd !important;
    border-radius: 4px;
    cursor: text;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform:scale(.7);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2096f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2096f3;
}

.switchText{
    line-height: 35px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.loaderInternalName {
    position: absolute;
    top: 47px;
    right: 16px;
}