
.vrr-wrap{
	font-family: 'OpenSans';
}
.vrr-submit-wrap .submit {
  float: left;
  padding-top: 0;
}
.vrr-draggable {
	vertical-align: bottom;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
    background-size: cover;
    background-color: #fff;
    border: 1px dashed #000;
}
.vrr-element-canvas-title-wrap{
    /*min-width: 1000px;*/
    padding-bottom: 5px;
}
.vrr-draggable-wrap {
    /*width: 100%;*/
    /*overflow: hidden;*/
    height: auto;
    padding: 0;
    border:1px solid #fefefe;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f1f1f1;
    transition: background-image .1s ease;
    background-repeat: repeat;
    background-size: auto;
    background-position: top left;
}
.vrr-draggable-wrap-all {
    width: calc(100% - 180px);
    /*width: 100%;*/
    height: auto;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    float: right;
}
.vrr-element-sidebar .vrr-element{
	z-index: 3!important;
}
.vrr-draggable .vrr-element{
	position: absolute;
	z-index: 0!important;
}
.vrr-draggable .vrr-element.opened{
    z-index: 2!important;
}
.vrr-draggable .vrr-element.opened .vrr-element-table{
	background-color: rgb(72,110,250);
	transition: background-color .50ms ease;
	color: #fff;
}
.vrr-draggable .vrr-element.opened .vrr-element-edit ,.vrr-element-edit-rotate{
    background-color: rgb(124, 209, 73);
    transition: background-color .50ms ease;
}
.vrr-element{
	cursor: pointer;
	z-index: 2;
	/*position: absolute;*/
	position: relative;
	display: inline-block;
	/*padding: 10px;*/
}
.vrr-element-sidebar-wrap {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.vrr-element .vrr-element-table{
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
	/*border-radius: 50%;*/
	/*position: absolute;*/
	/*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
	/*cursor: pointer;*/
	/*z-index: 2;*/
	/*position: absolute;*/
	position: relative;
	transition: background-color .1s ease, height .2s ease, width .2s ease, background-image .1s ease;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
}
.vrr-element-edit-rotate::before {
    content: "\e924";
    color: #000;
    /*font-family: ggt-vrr;*/
    font-size: 15px;
}
.vrr-element-delete {
    background: red;
    position: absolute;
    top: -13px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    right: -17px;
    cursor: pointer;
    transition: all .1s ease;
    color: white;
    text-align: center;
    line-height: 30px;
    z-index: 1;
}
.vrr-element-delete::before {
    /*content: "\e924";
    font-family: icomoon;
    font-size: 40px;
    position: absolute;
    left: -3px;
    right: 0;
    top: 2px;
    bottom: 0;*/
}
.vrr-element .vrr-element-delete:hover{
	/*background-size:1em;
	transition: all .1s ease;*/
}

.vrr-element-edit-rotate{
    position: absolute;
    top: -15px;
    left: -15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all .1s ease;
    color: white;
    background-color: #1e9a90;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    z-index: 1;
}

.vrr-element-sidebar-wrap-all {
    font-size: 0;
    position: relative;
    /*z-index: 1;*/
    display: inline-block;
}
.vrr-element-sidebar-wrap-all .vrr-element-sidebar-row:last-child .vrr-element-sidebar-wrap{
    height: 200px;
}
.vrr-element-sidebar-wrap {
    border-right: 1px solid rgb(244,248,251);
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: 10px 15px;
    border-radius: 10px;
}
.vrr-element-sidebar-wrap:hover {
    background: rgba(0,0,0,.1);
}
.vrr-element-sidebar-row {
}
.vrr-element-sidebar-wrap-all .vrr-element-sidebar-row:last-child{
	border-bottom: 0;
}
.vrr-element-sidebar-row .vrr-element-sidebar-wrap:nth-child(1){
	border-right: 0;
}

.vrr-element-seat{
    background-color: #bfbfbf;
}

/* ELEMENTS STYLYING */
.vrr-element .vrr-element-seats-wrap .vrr-element-seat {
    transition: background-image .1s ease, left .1s ease, top .1s ease;
    position: absolute;
    background-size: cover;

    border-radius: 10px;
    min-width: 8px;
    min-height: 8px;
    margin: 1px;
}


/* type 1 */
.vrr-element.type-1.rotate-1  .vrr-element-table{
	width: 80px;
	height: 80px;

}

/* type 3 */
.vrr-element.type-3.rotate-1 .vrr-element-table {
    width: 66px;
    height: 100px;

}

.vrr-element.type-9.rotate-1 .vrr-element-table {
    width: 66px;
    height: 100px;

}

.vrr-element.type-8.rotate-1 .vrr-element-table {
    width: 66px;
    height: 100px;

}

.vrr-element.type-18.rotate-1 .vrr-element-table {
    width: 66px;
    height: 100px;

}

.vrr-element.type-19.rotate-1 .vrr-element-table {
    width: 66px;
    height: 100px;

}

/* type 4 */
.vrr-element.type-4.rotate-1 .vrr-element-table{
	width: 80px;
	height: 80px;
	border-radius: 50%;

}

.vrr-element.type-10.rotate-1 .vrr-element-table{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.vrr-element.type-11.rotate-1 .vrr-element-table{
    width: 65px;
    height: 65px;
    border-radius: 50%;

}

.vrr-element.type-12.rotate-1 .vrr-element-table{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.vrr-element.type-13.rotate-1 .vrr-element-table{
    width: 75px;
    height: 75px;
    border-radius: 50%;

}

.vrr-element-inicials {
    position: absolute;
    top: 40%;
    left: -16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all .1s ease;
    color: #464646;
    background-color: #ffffff;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    z-index: 1;
}

.vrr-element.type-14.rotate-1 .vrr-element-table{
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.vrr-element.type-7.rotate-1 .vrr-element-table{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.vrr-element.type-16.rotate-1  .vrr-element-table{
    width: 65px;
    height: 65px;

}

.vrr-element.type-17.rotate-1  .vrr-element-table{
    width: 70px;
    height: 70px;

}

.vrr-element-table{
    background-color:#e0e0e0;
}

.vrr-element.dragover .vrr-element-table{
	/*background-color: #ff00007a;*/
	-webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
	transition: filter .1s ease;
	transform: scale(1.02);
}
.vrr-element.ui-draggable.ui-draggable-handle.ui-draggable-dragging.dragover .vrr-element-table{
	/*background-color: rgb(227,227,237);
	transition: background-color .1s ease;*/
	-webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
	transition: filter .1s ease;
	transform: scale(1);
}
.vrr-element.opened.ui-draggable.ui-draggable-handle.ui-draggable-dragging.dragover .vrr-element-table{
	/*background-color: rgb(72,110,250);*/
	-webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
	transition: filter .1s ease;
	transform: scale(1);
}
.vrr-element.ui-draggable-dragging{
	z-index:3!important;
}
.vrr-element.ui-draggable-dragging.dragover .vrr-element-table{
	/*background-color: #ff9999;*/
}

.vrr-element .vrr-element-id {
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    cursor: pointer;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    padding: 0;
    font-size: 12px;
    line-height: 25px;
    font-family: 'OpenSansLight';
    z-index: 1;
    color: #fff;
    background-color: rgb(137,141,170);
    border-radius: 50%;
    transition: all .50ms ease;
    text-align: center;
}
.vrr-draggable .vrr-element.opened .vrr-element-id	{
	background-color: rgb(72,110,250);
}
.vrr-element.type-4 .vrr-element-id{
	top: 0.25em;
    right: 0.25em;
}

.vrr-tables-wrap {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 0 20px 20px 180px;
    width: 100%;
    height: 100%;
}
.vrr-element-sidebar {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
}
.vrr-element-sidebar-title,
.vrr-element-canvas-title {
    padding: 20px;
    font-size: 20px;
    min-width: 150px;
    line-height: 1;
    font-family: 'OpenSans';
    display: inline-block;
    box-sizing: border-box;
    text-align: left !important;
}
.vrr-element-canvas-title-wrap > div {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.vrr-element-sidebar-inner {
    /*width: 150px;*/
}
.vrr-wrap{
	position: relative;
}
.vrr-tables-wrap.vrr-loading:after{
	content: '';
	background-color: #fff;
	opacity: 1;
	visibility: visible;
	transition: all .50ms ease;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	position: absolute;
    border-radius: 10px;
}
.vrr-tables-wrap:after{
	visibility: hidden;
	opacity: 0;
	content: '';
	background-color: #fff;
	transition: all .50ms ease;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	position: absolute;
}
.vrr-table-seats{
	width: 5em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
}
.vrr-element-seats {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 100%;
    transform: translate(-50%,-50%);
    color: rgb(136,141,170);
}
.vrr-element-seats::before {
    content: "\e90a";
    font-family: ggt-vrr;
    font-size: 15px;
    opacity: .5;
    position: absolute;
    right: 5px;
    top: 1px;
}
.vrr-draggable .vrr-element.opened .vrr-element-seats {
    transition: all .1s ease;
}